<!DOCTYPE html>
<html>

<head>
   <title> Job Finder</title>
   <meta name"viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="../css/theme.css">
</head>

<body>
   <div class="container">

      <div class="row">
         <div class="col-lg-12">
            <h1 class = "text-secondary text-center">I can find the best job for you!</h1>
         </div> 
      </div>
      <div class="row">
         <div class="col-sm-3">
            <form method="POST" action= "http://localhost:5000/submitted">
               <p>Programming Language 1</p>
               <input type="text" name="job" id='job1' />
            </form>

         </div>

         <div class="col-sm-3">
            <form method="POST" action= "http://localhost:5000/submitted">
               <p>Programming Language 2 </p>
               <input type="text" name="job" id='job2' />
            </form>
            
         </div>
      </div>

      <div class="row">
         <div class="col-sm-3">
            <form method="POST" action= "http://localhost:5000/submitted">
               <p>Programming Language 3 </p>
               <input type="text" name="job" id='job3' />
            </form>

         </div>

         <div class="col-sm-3">
            <form method="POST" action= "http://localhost:5000/submitted">
               <p>Programming Language 4</p>
               <input type="text" name="job" id='job4' />
               
            </form>
            
         </div>
      </div>


      <div class="row">
         <div class="col-lg-12">
            <button class = "btn btn-primary" id='button' type="submit" onclick='handleClick()'>Compare Test!</button>
           
         
         </div>
      </div>


   


      <div class="row">
         <div class="col-lg-12">
           <h1 class = "text-secondary text-center"> Your #1 match is ... 
             {{ result }}
           </h1>
           
         
         </div>
      </div>
      
</body>

</html>